* {
    margin: 0;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.head1 {
    width: 80vw;
    margin: 90px auto;
    display: flex;
    align-items: center;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 20px auto 0 auto;


}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 25px;


    .nav-language {
        border: 1px solid rgb(123, 122, 122);
        border-radius: 15px;
        padding: 8px 15px;

        a {
            color: black;
        }
    }
    .nav-call {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid rgb(237, 154, 0);
        transition: 0.8s all ease;
        border-radius: 18px;
        padding: 6px 18px;

        a {
            color: rgb(237, 154, 0);
        }
        img {
            width: 1.7vw;
        }
    }
}

.nav-call:hover {
    border: 1px solid rgb(253, 215, 143);
    background-color: rgb(253, 215, 143);
    transform: rotate(1);
}

.nav-a {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
        color: black;
        font-size: 19px;
        font-weight: 500;
        transition-timing-function: ease;
    }
}
.nav-a a:hover {
     color: orange;
    transform: scale(1.03);
}

.logo {
    img {
        width: 16vw;
    }
}
.head-main {
    width: 80vw;
    margin: auto;
}
.head-top {
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border: 1px solid rgb(255, 241, 214);
    background-color: rgb(255, 241, 214);
    border-radius: 18px;
    width: 15vw;
    padding: 5px;
   margin-bottom: 10px;

    a {
        color: rgb(237, 154, 0);
        font-size: 20px;
    }

}
.head-text {
   display: grid;
    gap: 25px;
    width: 30vw;
    
    .h-text1 {
        h1 {
            font-size: 4.8vw;
        }
        h2 {
            font-size: 4.6vw;
            color: rgb(237, 154, 0);
        }
    }

    .h-text2 {
        p {
            font-size: 1.3vw;
            color: rgb(134, 133, 133);
        }
    }

    .h-text3 {
        p {
            font-size: 1.3vw;
            color: rgb(134, 133, 133);
        }
    }
}

.head-button {
    display: grid;
    justify-items: center;
    border: 1px solid orange;
    border-radius: 17px;
    background-color: orange;
    padding: 12px;
    width: 14vw;
    transition: 1.1s all ease;

    a {
        color: white;
    }
}

.head-button:hover {
    background-color: white;
    border: 1px solid orange;
    transform: rotate(1);
    a {
        color: orange;
    }
}

.head1-foto {
    img {
        transition: 0.4s all ease;
        width: 32vw;
    }
}

.head1-foto:hover {
    img {
    transform: scale(1.06);
    }
}



@media screen and (min-width:0px) and (max-width:576px) {

}

@media screen and (min-width:0) and (max-width:798px) {

}

@media screen and (min-width:0) and (max-width:992px) {

}

@media screen and (min-width:0) and (max-width:1200px) {
    .nav-a {
        display: none;
    }

    .nav-buttons {
        display: none;
    }

}

@media screen and (min-width:0) and (max-width:1400px) {

}